#seabout {
  padding: 64px 200px;
  margin-bottom: 120px;

  h2 {
    color: red;
  }

  p {
    width: 700px;
    color: white;
  }
}

#semembers {
  padding: 64px 200px;

  .card {
    width: 300px;
    height: 435px;
    background-color: black;

    h2 {
      color: white;
      margin-bottom: 320px;
    }

    a {
      font-family: 'Sacramento';
      font-weight: bold;
      font-size: 22px;
      padding: 6px;
      background: transparent;
      color: red;

      &:hover {
        font-size: 26px;
      }
    }
  }
}
